.Popup
{
    border: solid 1px black;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
    padding: 50px;
    height: 400px;
    margin-top: -200px;

    width: 600px;
    margin-left: -300px;
}